---
layout: page
---

{% assign show_resources = false %}
{% assign show_images = false %}
{% assign show_video = false %}
{% assign show_pdf = false %}

{% if page.slides != nil and page.slides != "" %}
  {% assign show_pdf = true %}
  {% assign show_resources = true %}
{% endif %}

{% if page.youtube_id != nil and page.youtube_id != "" %}
  {% assign show_video = true %}
  {% assign show_resources = true %}
{% endif %}

{% for resource in page.resources %}
  {% assign show_resources = true %}
{% endfor %}

{% for image in page.images %}
  {% assign show_images = true %}
{% endfor %}


<h1><b>{{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} - {{ page.location }}

    <br />

  {%- if page.tags != empty -%}
  Tags:
  {% for tag in page.tags %}
  <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/talks/tags#' | relative_url }}">
    <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
  </a>
  {% endfor %}
  {%- endif -%}

</p>

<p>
{% if page.event_url contains "http" %}
<h2 style="text-align: center;"><b><a href="{{ page.event_url }}" target="_blank" >{{ page.event }}</a></b></h2>
{% else %}
<h2 style="text-align: center;"><b>{{ page.event }}</b></h2>
{% endif %}

{% if page.event_logo != empty %}
<img src="{{ page.event_logo }}" class="figure-img img-fluid rounded" alt="{{ include.alt | default: include.caption }}"
  style="max-width: 200px; max-height: 200px;">
{% endif %}
</p>

<br />

{% if show_resources %}
<p>
  <h3 style="text-align: center;"><b>Resources</b></h3>

  <ul>
{% endif %}

{% if show_pdf %}
<li><a href="{{ page.slides }}" target="_blank">Slides PDF</a></li>
{% endif %}

{% if show_video %}
<li><a href="https://youtu.be/{{ page.youtube_id }}" target="_blank">YouTube link</a></li>
{% endif %}

{% for resource in page.resources %}
<li><a href="{{resource.url}}" target="_blank">{{resource.name}}</a></li>
{% endfor %}

{% if show_resources %}
  </ul>
</p>

<br />
{% endif %}

{% if show_video %}
<p>
<h3 style="text-align: center;"><b>Video</b></h3>
{% include elements/video.html id=page.youtube_id %}
</p>

<br />
{% endif %}

{% if show_pdf %}
<p>
<h3 style="text-align: center;"><b>Slides</b></h3>
{% pdf "{{ page.slides }}" no_link %}
</p>

<br />
{% endif %}

{% if show_images %}
<p>
<h3 style="text-align: center;"><b>Images</b></h3>

Attibution: {{ page.images_attribution }}

{% for image_url in page.images %}
<img src="{{ image_url }}" class="figure-img img-fluid rounded">
{% endfor %}

</p>

<br />
{% endif %}
